<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">

<section layout:fragment="content" class="contents">
	<div class="display-4 text-center my-2 font-weight-bold">회원 가입</div>
	<div id="signUpBox" class="border rounded my-2">
		<form id="signUpForm" method="post" action="/user/sign-up">
			<div class="form-group mb-5 mx-3">
				<label class="font-weight-bold">아이디</label>
				<div class="d-flex align-items-center">
					<input type="text" id="loginId" name="loginId" class="form-control col-9 mr-1" placeholder="아이디를 입력하세요.">
					<button id="duplicatedBtn" class="btn btn-info font-weight-bold">중복확인</button>
				</div>
					
				<!-- 아이디 체크 결과 -->
				<!-- d-none 클래스: display none (보이지 않게) -->
				<div id="idCheckLength" class="small text-danger d-none">ID를 4자 이상 입력해주세요.</div>
				<div id="idCheckDuplicated" class="small text-danger d-none">이미 사용중인 ID입니다.</div>
				<div id="idCheckOk" class="small text-success d-none">사용 가능한 ID 입니다.</div>
			</div>
			<div class="form-group mb-5 mx-3">
				<label class="font-weight-bold">비밀번호</label> 
				<input type="password" id="password" name="password" class="form-control" placeholder="비밀번호를 입력하세요.">
			</div>
			<div class="form-group mb-5 mx-3">
				<label class="font-weight-bold">비밀번호 확인</label> 
				<input type="password" id="confirmPassword" class="form-control" placeholder="비밀번호 확인">
			</div>
			<div class="form-group mb-5 mx-3">
				<label class="font-weight-bold">이름</label> 
				<input type="text" id="name" name="name" class="form-control" placeholder="이름을 입력하세요.">
			</div>
			<div class="form-group mb-5 mx-3">
				<label class="font-weight-bold">이메일</label> 
				<input type="text" id="email"  name="email" class="form-control" placeholder="이메일을 입력하세요.">
			</div>
			<button type="submit" id="signUpBtn" class="btn btn-info font-weight-bold my-5 mx-3">회원 가입 완료</button>
		</form>
	</div>
</section>

<th:block layout:fragment="script">
	<script>
		$(document).ready(function() {
			$("#duplicatedBtn").on('click',function() {
				// 문구 안 보이게 초기화
				$("#idCheckLength").addClass("d-none");
				$("#idCheckDuplicated").addClass("d-none");
				$("#idCheckOk").addClass("d-none");
				
				//alert("중복확인");
				let loginId = $("#loginId").val().trim();
				//alert(loginId);
				
				if(loginId.length < 4) {
					$("#idCheckLength").removeClass("d-none");
					return;
				}
				
				// AJAX
				$.ajax({
					// request
					url:"/user/is-duplicated-id"
					, data:{"loginId":loginId}
					
					// response
					, success:function(data) {
						if (data.is_duplicated_id) { // 중복
							$("#idCheckDuplicated").removeClass("d-none");							
						} else { // 중복 X, 사용가능
							$("#idCheckOk").removeClass("d-none");
						}
					}
					
					, error:function(error) {
						alert("중복확인에 실패했습니다.");
					}
				});
			});
			
			// 회원 가입
			$("#signUpForm").on('submit', function(e) {
				e.preventDefault(); // 서브밋 기능 중단
			
				//alert("회원가입");
				
				// validation
				let loginId  = $("#loginId").val().trim();
				let password  = $("#password").val();
				let confirmPassword  = $("#confirmPassword").val().trim();
				let name  = $("#name").val().trim();
				let email  = $("#email").val().trim();
				
				if (!loginId) {
					alert("아이디를 입력하세요.");
					return false;
				}
				
				if (!password || !confirmPassword) {
					alert("비밀번호를 입력하세요.");
					return false;
				} 
				
				if (password != confirmPassword) {
					alert("비밀번호가 일치하지 않습니다.");
					return false;
				}
				
				if (!name) {
					alert("이름을 입력하세요.");
					return false;
				}
				
				if (!email) {
					alert("이메일을 입력하세요.");
					return false;
				}
				
				// loginId 중복확인 후 사용 가능한지 확인
				// #idCheckOk d-none이 있을 때 alert 띄우기
				if ($("#idCheckOk").hasClass("d-none")) {
					alert("아이디 중복확인을 해주세요.");
					return false; // 서버에 넘어가지 못하게 하기
				}
				
				// 서버 전송
				// 1) submit 호출 -> response가 화면(HTML)
				$(this)[0].submit(); // submit의 기능은 화면이동이기 때문에 화면 이동이 된다면 이 구문이 잘 작동된다는 것임.
				
				// 2) AJAX 호출 -> response가 JSON
				let url = $(this).attr("action");
				console.log(url);
				let params = $(this).serialize(); // form태그에 있는 name 속성과 value를 파라미터로 구성
				console.log(params);
				
				$.post(url, params) // request
				.done(function(data) { // response
					if (data.code == 200) {
						alert("가입을 환영합니다. 로그인 해주세요.");
						// 로그인 화면 이동
						location.href = "/user/sign-in-view";
					} else {
						alert(data.error_message);
					}
				});
			});
		});
	</script>
</th:block>

</html>