@charset "UTF-8";

header {
	height:100px;
}
.contents {
	min-height:500px;
}
footer {
	height:100px;
}

section {
    margin: 0 auto;
}
#inputBox {
    min-width: 500px;
    height: 400px;
    border-color: rgb(126, 126, 126);
}

#signUpBox {
    min-width: 500px;
    min-height: 200px;
    border-color: rgb(126, 126, 126);
}

#duplicatedBtn {
	width: 250px;
}

.form-group {
    padding-left : 15px;
    padding-right : 15px;
    margin-top: 40px;
}
#signUpBtn {
    width: 540px;
    padding-left : 15px;
    padding-right : 15px;
    margin-top: 40px;
    height: 50px;
}

.postingBox {
	width: 600px;
	min-height: 50px;
}

#imageIcon {
	width: 70px;
}

#postingBtn {
	width: 70px;
}


